@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
	* {
		font-family: 'Poppins', sans-serif;
	}

	html, body {
		overflow-x: hidden;
	}

	a, button {
		cursor: pointer;
	}

	nav ul li {
		position: relative;
		display: inline-block;
		transition: color 0.3s; 
	}
	
	nav ul li::before {
		content: '';
		position: absolute;
		bottom: 0;
		left: 0;
		width: 0;
		height: 2px;
		background-color: black;
		transition: width 0.3s ease-in-out; 
		transform-origin: left;
	}
	
	nav ul li:hover::before {
		width: 100%;
	}

	.show {
		display: block !important;
		height: 100%;
		background-color: white;
	}

	.list {
		grid-auto-columns: 204px 
	}
}