@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
	* {
		font-family: 'Poppins', sans-serif;
	}

	a, button {
		cursor: pointer;
	}

	.notion:hover svg, .notion:hover p {
		fill: black;
		color: black;
	}

	.intercom:hover svg, .intercom:hover p {
		fill: black;
		color: black;
	}

	.descript:hover g, .descript:hover p {
		fill: #0078FE;
		color: #000321;
	}

	.grammarly:hover svg, .grammarly:hover p {
		fill: #0D8065;
		color: #000321;
	}

}