@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
	* {
		font-family: 'Poppins', sans-serif;
	}

	body {
		overflow-x: hidden;
	}

	a, button {
		cursor: pointer;
	}

	nav ul li {
		position: relative;
		display: inline-block;
		transition: color 0.3s; 
	}
	
	nav ul li::before {
		content: '';
		position: absolute;
		bottom: 0;
		left: 0;
		width: 0;
		height: 2px;
		background-color: black;
		transition: width 0.3s ease-in-out; 
		transform-origin: left;
	}
	
	nav ul li:hover::before {
		width: 100%;
	}
	
	nav ul li:hover {
		font-size: 1.2em; 
	}	

	.notion:hover svg, .notion:hover p {
		fill: black;
		color: black;
		transition: all ease .3s;
	}

	.intercom:hover svg, .intercom:hover p {
		fill: black;
		color: black;
		transition: all ease .3s;
	}

	.descript:hover g, .descript:hover p {
		fill: #0078FE;
		color: #000321;
		transition: all ease .3s;
	}

	.grammarly:hover svg, .grammarly:hover p {
		fill: #0D8065;
		color: #000321;
		transition: all ease .3s;
	}

	.show {
		display: block !important;
		height: 100%;
	}

	.list {
		grid-auto-columns: 204px 
	}
}